.float-right{
    float:right
}

.float-left{
    float:left
}

.center-text{
    text-align: center;
}

.align-center{
    align-self:center
}

.margin-1{
    margin: 1px;
}

.flex-column{
    display: flex;
    flex-direction: column;
}