.result-header{
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 20px;
}

.result{
    font-size: 1.1em;
    padding: 3px 20px;
}

.result-container{
    padding: 0px 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 0px 10px;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #d4f5ff;
}
